@import 'variables';


.actionBtn {
	@extend %raisedBtn;
	height: 5rem;
	min-width: 5rem;
	padding: 20px;
	color: $white;
	border-radius: 50px;
	margin: 0 10px;
	z-index: 51;
	text-align: center;
}

.reject {
	@include colorize($red);
}

.maybe {
	@include colorize($yellow);
	color: $purple;
}

.accept {
	@include colorize($green);
}

.isMobile {
	height: 3.5rem;
	min-width: 3.5rem;
}