@import 'variables';


.actionBtn {
	@extend %raisedBtn;
	height: 5rem;
	padding: 0 20px;
	color: $white;
	border-radius: 50px;
	margin: 0 10px;
	z-index: 50;
}

.reject {
	@include colorize($red);
}

.maybe {
	@include colorize($yellow);
	color: $purple;
}

.accept {
	@include colorize($green);
}