@import 'variables';


.filterContainer {
	position: relative;
}

.filterBtn {
	@extend %raisedBtn;
	background-color: $purple;
	color: $white;
	height: 2rem;
	margin: 4px;
	padding: 0 10px;
	border-radius: 5px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.disabled {
	box-shadow: none;
	cursor: default;
}

.focused {
	background-color: $yellow;
	color: $purple;
	box-shadow: 0 2px 12px $shadow;
}

.border {
	position: absolute;
	bottom: 0;
	height: 3px;
	background-color: $yellow;
	transition: all 0.2s ease-in-out;
}

.expanded {
	position: absolute;
	width: 15rem;
	top: calc(100% - 4px);
	left: 50%;
	transform: translate(-50%, 0);
	background-color: $yellow;
	border-radius: 15px;
	z-index: 996;
	box-shadow: 0 4px 12px $shadow;
	transition: height 0.2s ease-in-out;
}

.filterOption {
	@extend %flex-center;
	height: 50%;
	width: 100%;
	padding: 0 15px;
	color: $purple;
	border-radius: 0 0 15px 15px;
	@include colorize($yellow);
	cursor: pointer;
}

.firstOption {
	border-bottom: 2px solid $purple;
	border-radius: 15px 15px 0 0;
}