@import 'variables';


.filterBtn {
	@extend %raisedBtn;
	background-color: $purple;
	color: $white;
	height: 2rem;
	margin: 0 7px 7px 0;
	padding: 10px;
	border-radius: 2px;
	position: relative;
	transition: all 0.3s ease-in-out;
}

.focused {
	background-color: $yellow;
	color: $purple;
	box-shadow: 0 2px 12px $shadow;
}

.border {
	position: absolute;
	bottom: 0;
	height: 3px;
	background-color: $yellow;
	transition: width 0.2s ease-in-out;
}

.expanded {
	position: absolute;
	top: 100%;
	background-color: $yellow;
	border-radius: 15px;
	transition: height 0.2s ease-in-out;
	z-index: 99;
	box-shadow: 0 4px 12px $shadow;
}

.filterOption {
	@extend %flex-center;
	height: 50%;
	width: 100%;
	color: $purple;
	border-radius: 0 0 15px 15px;
	white-space: nowrap;
	padding: 0 15px;
	@include colorize($yellow);
}

.firstOption {
	border-bottom: 2px solid $purple;
	border-radius: 15px 15px 0 0;
}