@import 'variables';


.searchBar {
	height: 3rem;
	flex-grow: 1;
	@extend %flex-center;
	justify-content: space-between;
	margin: 1rem 30px;
	@include fadeInAnimation(1s);

	label {
		border: 0;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}

	button {
		height: 100%;
		width: 27%;
		@include colorize($green);
		color: $white;
		border-radius: 5px;
		cursor: pointer;

		&:active {
			background-color: #334a19;
		}

		&:focus {
			outline: none;
		}
	}
}

.expanded {
	height: 3rem;
	width: 100%;
	margin: 1rem 0;
}

.suggestionsContainer {
	height: 100%;
	width: 70%;
	position: relative;
	z-index: 99;

	@media screen and (max-width: 650px) {
		width: 100%;
	}
}

.inputContainer, .suggestion {
	height: 100%;
	font: 400 13px Arial;
	background-color: $white;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);

	@media screen and (max-width: 650px) {
		height: 2rem;
	}
}

.inputContainer {
	display: flex;

	&:focus {
		border-color: $green;
	}

	input {
		height: 100%;
		width: 100%;
		padding-left: 2%;
		border: 2px solid $white;
		transition: all 400ms ease;
		-webkit-transition: all 400ms ease;
		text-overflow: ellipsis;
		font-family: $primary-font;

		&:focus {
			outline: none;
			border-color: $green;
		}
	}
}

.suggestion {
	@extend %flex-center;
	justify-content: flex-start;
	width: 100%;
	border-bottom: 2px solid #e0e0e0;
	border-top: none;
	padding-left: 2%;
	line-height: 1.25rem;

	@media screen and (max-width: 650px) {
		width: 90vw;
	}
}

.focused {
	background-color: $green;
	color: $white;
	border-color: $green;

	&:hover {
		cursor: pointer;
	}
}