@import 'index.scss';


.searchBar {
	height: 2.7rem;
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 30px;

	button {
		height: 100%;
		width: 27%;
		font: inherit;
		border: none;
		background-color: $green;
		color: $white;
		border-radius: 2px;

		&:hover {
			cursor: pointer;
			background-color: #3d581e;
		}

		&:active {
			background-color: #334a19;
		}

		&:focus {
			outline: none;
		}
	}
}

.expanded {
	height: 3rem;
	width: 100%;
	margin: 1rem 0;
}

.suggestionsContainer {
	height: 100%;
	width: 70%;
	position: relative;

	@media screen and (max-width: 650px) {
		width: 100%;
	}
}

.inputContainer, .suggestion {
	height: 100%;
	font: 400 13px Arial;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
	background-color: $white;

	@media screen and (max-width: 650px) {
		height: 2rem;
	}
}

.inputContainer {
	display: flex;

	&:focus {
		border-color: $green;
	}

	input {
		height: 100%;
		width: 100%;
		padding-left: 2%;
		border: 2px solid $white;
		transition: all 400ms ease;
		-webkit-transition: all 400ms ease;

		&:focus {
			outline: none;
			border-color: $green;
		}
	}
}

.suggestion {
	width: 100%;
	border-bottom: 2px solid #e0e0e0;
	border-top: none;
	z-index: 80;
	top: 100%;
	display: flex;
	align-items: center;
	padding-left: 2%;
	line-height: 1.25rem;

	@media screen and (max-width: 650px) {
		width: 90vw;
	}

	&:hover {
		cursor: pointer;
		background-color: $green;
		color: $white;
		border-color: $green;
	}
}