@import 'variables';


.sidebar {
	position: fixed;
	background-color: $purple;
	color: $white;
	top: $header-height;
	right: 0;
	height: calc(100vh - #{$header-height});
	width: 1.5rem;
	z-index: 995;
	border-radius: 10px 0 0 10px;
	transition: width 0.2s linear;
	box-shadow: -8px 0px 5px -4px #8a7d5f;
	display: flex;

	.tab {
		width: 1.5rem;
		height: 100%;
		border-radius: inherit;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.2s ease-in-out;

		&:hover {
			background-color: darken($purple, 4%);
		}
	}

	.content {
		flex-grow: 1;
	}
}

.expanded {
	width: 10rem;
	animation: bounceIn 0.4s ease-in;
}

@keyframes bounceIn {
	from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    width: 1.5rem;
  }

  60% {
    width: calc(10rem + 20px);
  }

  75% {
    width: calc(10rem - 10px);
  }

  90% {
    width: calc(10rem + 5px);
  }

  to {
    width: 10rem;
  }
}