@import 'variables';


.sidebar {
	position: fixed;
	background-color: $purple;
	color: $white;
	top: $header-height;
	right: 0;
	height: calc(100vh - #{$header-height});
	width: 1.5rem;
	z-index: 995;
	border-radius: 10px 0 0 10px;
	transition: width 0.35s ease-in-out;
	box-shadow: -8px 0px 5px -4px #8a7d5f;
	display: flex;

	.tab {
		width: 1.5rem;
		height: 100%;
		border-radius: inherit;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.2s ease-in-out;

		&:hover {
			background-color: darken($purple, 4%);
		}
	}

	.content {
		@include fadeInAnimation(0.2s);
		flex-grow: 1;
		display: none;
	}
}

.expanded {
	width: 25rem;
	max-width: 100vw;
}