@import 'variables';


.suggestRestaurants {
	@extend %flex-center-column;
	@extend %container;
	width: 100vw;
}

.cardStack {
	@extend %flex-center;
	position: relative;
	height: 60vh;
	width: 100%;
	margin-top: 6rem;
}

.undoBtn {
	@extend %raisedBtn;
	margin-top: 20px;
	@include colorize($purple);
	border-radius: 50px;
	width: 3rem;
	height: 3rem;
	color: $white;
}


// React Transition Group classes

.cardEnter {
	transform: translate(-100vw) rotate(-90deg);
}

.cardEnterActive {
	transform: translate(0) rotate(0);
	transition: all 0.3s linear;
}

.cardExit {
	transform: translate(0) rotate(0);
}

.cardExitActive {
	transform: translate(-100vw) rotate(-90deg);
	transition: all 0.3s linear;
}