@import 'variables';


.suggestRestaurants {
	@extend %flex-center-column;
	@extend %container;
	height: 100%;
	width: 100%;
}

.loadingSection {
	@extend %flex-center-column;
	height: 70vh;
	width: 100vw;
	color: $purple;

	.loadingRingContainer {
		@extend %flex-center;
		height: 200px;
		width: 200px;
		color: inherit;
	}
}

.cardStack {
	@extend %flex-center;
	position: relative;
	height: 60vh;
	width: 100%;
	animation: slideDown linear 0.2s forwards;
}

@keyframes slideDown {
	from {
		height: 80vh;
		width: 100vw;
		margin-top: 0;
	}
	to {
		height: 60vh;
		width: 100%;
		margin-top: 5rem;
	}
}

.selectedCardContainer {
	@extend %flex-center;
	position: relative;
	animation: selectCard linear 0.2s forwards;
}

@keyframes selectCard {
	from {
		height: 60vh;
		width: 100%;
		margin-top: 5rem;
	}
	to {
		height: 80vh;
		width: 100vw;
		margin-top: none;
	}
}

.messageSection {
	@extend %flex-center;
	height: 70vh;
	width: 70vw;
	color: $purple;

	h2 {
		text-align: center;
	}
}

.historyBtns {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;

	button {
		@extend %raisedBtn;
		@include colorize($purple);
		animation: flashYellow 0.8s linear;
		border-radius: 50px;
		padding: 1rem;
		color: $white;
		margin: 0 5px;
	}
}

@keyframes flashYellow {
	from {
		background-color: $yellow;
	}
	to {
		background-color: $purple;
	}
}


// React Transition Group classes

.cardEnter {
	transform: translate(-100vw) rotate(-90deg);
}

.cardEnterActive {
	transform: translate(0) rotate(0);
}

.cardExit {
	transform: translate(0) rotate(0);
}

.cardExitActive {
	transform: translate(-100vw) rotate(-90deg);
}