$white: #fff;
$red: #d13525;
$purple: #4c3f54;
$yellow: #f2c057;
$lighter-yellow: #efce8a;
$green: #486824;
$gray: #bdbdbd;

$primary-font: 'Raleway', sans-serif;


html, body, #root {
	height: 100vh;
	width: 100vw;
}

body {
	font-family: $primary-font;
	font-size: 16px;
	@media (max-width: 700px) {
		font-size: 12px;
	}
	background-color: $lighter-yellow;
}